doctype html 
html 
  head 
    title Message Details
    style
      include styles.css
  body 
    h1 The Following Message Has Been Destroyed...
    .message-container
      .message-card
        h4 Title:
        h2 #{message.title}
        br
        h4 Details:
        p #{message.body}